div.display {
  font-size: 4.5em;
  font-weight: 900;
  text-align: center;
  line-height: 1.3;
  position: fixed;
  left: 0%;
  top: 36%;
  margin-top: -0.5em;
  right: 0%;
  color: rgb(0 0 0);
  opacity: 0.75;
}

div.print{
	position:absolute; 
	bottom:175px;
  right:100px;
}

div.card{
	position:absolute; 
	bottom:150px;
	left:100px;
}
